							<link rel="stylesheet" href="../../../css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Mississippi</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenuPlotMacros acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 22 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 22 TW-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Louisiana-Mississippi.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Louisiana-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 24 Pool-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 24 Pool-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 24 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 24 TW-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Mosier Ldg-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mosier Ldg-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 25 Pool-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 25 Pool-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 25 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 25 TW-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Grafton-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Grafton-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Alton-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Alton-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Mel Price Pool-Mississippi.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mel Price Pool-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Mel Price TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mel Price TW-Mississippi</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 22 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_2=LD 24 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_3=Mel Price TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_4=LD 25 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev"
																	target="_self" tabindex="0">
																	Lock and Dam TW</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Pump Sta 1-Wood River E Alton.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Pump Sta 1-Wood River E Alton</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 27 Pool-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 27 Pool-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=LD 27 TW-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	LD 27 TW-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=St Louis-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	St Louis-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Engineers Depot-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Engineers Depot-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Jefferson Brks-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Jefferson Brks-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Herculaneum-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Herculaneum-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Chester-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Chester-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Red Rock Ldg-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Red Rock Ldg-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Grand Tower-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Grand Tower-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Moccasin Springs-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Moccasin Springs-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Cape Girardeau-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Cape Girardeau-Mississippi</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=St Louis-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_2=Chester-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_3=Grand Tower-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_4=Thebes-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev"
																	target="_self" tabindex="0">
																	Middle Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Grays Pt-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Grays Pt-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Thebes-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Thebes-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Commerce-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Commerce-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Price Ldg-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Price Ldg-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Thompson Ldg-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Thompson Ldg-Mississippi</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Birds Point-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Birds Point-Mississippi</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Mississippi&office=MVS&type=editing&lookback=30&cwms_ts_id=Cairo-Ohio.Elev.Inst.1Hour.0.lrgsShef-rev&cwms_ts_id_2=Thebes-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_3=Commerce-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_4=Price Ldg-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_5=Thompson Ldg-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_6=Birds Point-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_7=Cape Girardeau-Mississippi.Elev.Inst.30Minutes.0.lrgsShef-rev"
																	target="_self" tabindex="0">
																	Lower Mississippi
																</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
							<script>
								updateCdaLinks(office, basin, cwms_ts_id, cda);
							</script>
