							<link rel="stylesheet" href="../../../css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Meramec</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenuPlotMacros acResponsive ac-hide ac-hide-mobile-only ">

                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Steelville-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev&cwms_ts_id_2=Sullivan-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Steelville-Meramec</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Sullivan-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev&cwms_ts_id_2=Steelville-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev&cwms_ts_id_3=High%20Gate-Bourbeuse.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Sullivan-Meramec</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=High%20Gate-Bourbeuse.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	High Gate-Bourbeuse</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Union-Bourbeuse.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Union-Bourbeuse</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Pacific-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Pacific-Meramec</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Irondale-Big.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Irondale-Big</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Desloge-Big.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Desloge-Big</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Richwoods-Big.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Richwoods-Big</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Byrnesville-Big.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Byrnesville-Big</a>
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Byrnesville-Big.Stage.Inst.15Minutes.0.lrgsShef-rev&cwms_ts_id_2=Byrnesville-Big.Stage.Inst.~1Day.0.datman-rev" target="_self" tabindex="0">
																		Byrnesville</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Eureka-Meramec.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Eureka-Meramec</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Valley Park-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Valley Park-Meramec</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Champion City-Bourbeuse.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Champion City-Bourbeuse</a>
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Champion City-Bourbeuse.Stage.Inst.15Minutes.0.lrgsShef-rev&cwms_ts_id_2=Champion City-Bourbeuse.Stage.Inst.~1Day.0.datman-rev" target="_self" tabindex="0">
																		Champion City</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Meramec&office=MVS&type=loading&lookback=30&cwms_ts_id=Arnold-Meramec.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Arnold-Meramec</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
							<script>
								updateCdaLinks(office, basin, cwms_ts_id, cda);
							</script>
