							<link rel="stylesheet" href="../../../css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Big Muddy</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenuPlotMacros acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Mt Vernon-Big Muddy.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mt Vernon-Big Muddy</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Waltonville-Rayse Cr.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Waltonville-Rayse Cr</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Mt Vernon-Casey Fork.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mt Vernon-Casey Fork</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Sub-Casey Fork.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Sub-Casey Fork</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Sub-Big Muddy.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Sub-Big Muddy</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Rend Lk-Big Muddy.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Rend Lk-Big Muddy</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Rend Lk TW-Big Muddy.Elev.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Rend Lk TW-Big Muddy</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Plumfield-Big Muddy.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Plumfield-Big Muddy</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Murphysboro-Big Muddy.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Murphysboro-Big Muddy</a>
															</div>
														</div>
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Tributaries&office=MVS&type=editing&lookback=30&cwms_ts_id=Sand Ridge-Big Muddy.Elev.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Sand Ridge-Big Muddy</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
							<script>
								updateCdaLinks(office, basin, cwms_ts_id, cda);
							</script>
