							<link rel="stylesheet" href="../../../css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Illinois</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenuPlotMacros acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Meredosia-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Meredosia-Illinois</a>
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Meredosia-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_2=Meredosia-Illinois.Stage.Inst.~1Day.0.datman-rev" target="_self" tabindex="0">
																		Meredosia</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Valley City-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Valley City-Illinois</a>
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Valley City-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_2=Valley City-Illinois.Stage.Inst.~1Day.0.datman-rev" target="_self" tabindex="0">
																		Valley City</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Florence-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Florence-Illinois</a>
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Florence-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_2=Florence-Illinois.Stage.Inst.~1Day.0.datman-rev" target="_self" tabindex="0">
																		Florence</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Hardin-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hardin-Illinois</a>
																<a href="index.html?basin=Illinois&office=MVS&type=loading&lookback=30&lookback=30&cwms_ts_id=Hardin-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev&cwms_ts_id_2=Hardin-Illinois.Stage.Inst.~1Day.0.datman-rev" target="_self" tabindex="0">
																		Hardin</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
							<script>
								updateCdaLinks(office, basin, cwms_ts_id, cda);
							</script>
