							<link rel="stylesheet" href="../../../css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Salt</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenuPlotMacros acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Perry-Lick Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Perry-Lick Cr</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Perry-Lick Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Perry-Lick Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Perry</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Santa Fe-S Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Santa Fe-S Fork Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Santa Fe-S Fork Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Santa Fe-S Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Santa Fe S Fork</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Santa Fe-Long Branch.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Santa Fe-Long Branch</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Santa Fe-Long Branch.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Santa Fe-Long Branch.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Santa Fe Long</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Madison-Elk Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Madison-Elk Fork Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Madison-Elk Fork Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Madison-Elk Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Madison</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Holliday-Mid Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Holliday-Mid Fork Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Holliday-Mid Fork Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Holliday-Mid Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Holliday</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Paris-Crooked Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Paris-Crooked Cr</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Paris-Crooked Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Paris-Crooked Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Paris</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Hagers Grove-N Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hagers Grove-N Fork Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Hagers Grove-N Fork Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Hagers Grove-N Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hagers Grove</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Shelbina-N Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Shelbina-N Fork Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Shelbina-N Fork Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Shelbina-N Fork Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Shelbina</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Mark Twain Lk-Salt.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Mark Twain Lk-Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Mark Twain Lk-Salt.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Mark Twain Lk-Salt.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Mark Twain Lk</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Mark Twain Lk TW-Salt.Stage.Inst.15Minutes.0.29" target="_self" tabindex="0">
																	Mark Twain Lk TW-Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Mark Twain Lk TW-Salt.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Mark Twain Lk TW-Salt.Stage.Inst.15Minutes.0.29" target="_self" tabindex="0">
																	Mark Twain Lk TW</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=ReReg Pool-Salt.Stage.Inst.15Minutes.0.29" target="_self" tabindex="0">
																	ReReg Pool-Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=ReReg Pool-Salt.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=ReReg Pool-Salt.Stage.Inst.15Minutes.0.29" target="_self" tabindex="0">
																	ReReg Pool</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Norton Bridge-Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Norton Bridge-Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Norton Bridge-Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Norton Bridge-Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Norton Bridge</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=New London-Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	New London-Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=New London-Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=New London-Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	New London</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Frankford-Spencer Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Frankford-Spencer Cr</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Frankford-Spencer Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Frankford-Spencer Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Frankford</a>
															</div>
														</div>
                                                        <div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Ashburn-Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Ashburn-Salt</a>
																<a href="index.html?basin=Salt&office=MVS&type=loading&lookback=30&cwms_ts_id=Ashburn-Salt.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Ashburn-Salt.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Ashburn</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
							<script>
								updateCdaLinks(office, basin, cwms_ts_id, cda);
							</script>
