							<link rel="stylesheet" href="../../../css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Kaskaskia</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenuPlotMacros acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Chesterville-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Chesterville-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Chesterville-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Chesterville-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Chesterville</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Cooks Mill-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Cooks Mill-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Cooks Mill-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Cooks Mill-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Cooks Mill</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Allenville-Whitley Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Allenville-Whitley Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Allenville-Whitley Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Allenville-Whitley Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Allenville</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Lovington-W Okaw.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Lovington-W Okaw</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Lovington-W Okaw.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Lovington-W Okaw.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Lovington</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Lk Shelbyville-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Lk Shelbyville-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Lk Shelbyville-Kaskaskia.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Lk Shelbyville-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Lk Shelbyville</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Shelbyville TW-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Shelbyville TW-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Shelbyville TW-Kaskaskia.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Shelbyville TW-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Shelbyville TW</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Shelbyville-Robinson Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Shelbyville-Robinson Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Shelbyville-Robinson Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Shelbyville-Robinson Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Shelbyville</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Cowden-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Cowden-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Cowden-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Cowden-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Cowden</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Ramsey-Kaskaskia.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Ramsey-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Ramsey-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Ramsey-Kaskaskia.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Ramsey</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Vandalia-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Vandalia-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Vandalia-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Vandalia-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Vandalia-Kaskaskia</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Brownstown-Hickory Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Brownstown-Hickory Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Brownstown-Hickory Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Brownstown-Hickory Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Brownstown</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Mulberry Grove-Hurricane Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mulberry Grove-Hurricane Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Mulberry Grove-Hurricane Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Mulberry Grove-Hurricane Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Mulberry Grove</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Fairman-E Fork.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Fairman-E Fork</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Fairman-E Fork.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Fairman-E Fork.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Fairman</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Carlyle Lk-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Carlyle Lk-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Carlyle Lk-Kaskaskia.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Carlyle Lk-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Carlyle Lk</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Carlyle Lk TW-Kaskaskia.Stage.Inst.15Minutes.0.29" target="_self" tabindex="0">
																	Carlyle Lk TW-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Carlyle Lk TW-Kaskaskia.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Carlyle Lk TW-Kaskaskia.Stage.Inst.15Minutes.0.29" target="_self" tabindex="0">
																	Carlyle Lk TW</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Carlyle-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Carlyle-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Carlyle-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Carlyle-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Carlyle</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Posey-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Posey-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Posey-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Posey-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Posey</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Hoffman-Crooked Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hoffman-Crooked Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Hoffman-Crooked Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Hoffman-Crooked Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hoffman</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Pierron-Shoal Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Pierron-Shoal Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Pierron-Shoal Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Pierron-Shoal Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Pierron</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Breese-Shoal Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Breese-Shoal Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Breese-Shoal Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Breese-Shoal Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Breese</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Venedy Station-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Venedy Station-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Venedy Station-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Venedy Station-Kaskaskia.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Venedy Station</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Fayetteville-Kaskaskia.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Fayetteville-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Fayetteville-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Fayetteville-Kaskaskia.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Fayetteville</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Freeburg-Silver Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Freeburg-Silver Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Freeburg-Silver Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Freeburg-Silver Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Freeburg</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Hecker-Richland Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hecker-Richland Cr</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Hecker-Richland Cr.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Hecker-Richland Cr.Stage.Inst.15Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Hecker</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Red Bud-Kaskaskia.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Red Bud-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Red Bud-Kaskaskia.Stage.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Red Bud-Kaskaskia.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_self" tabindex="0">
																	Red Bud-Kaskaskia</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Nav Pool-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Nav Pool-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Nav Pool-Kaskaskia.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Nav Pool-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Nav Pool</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Nav TW-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Nav TW-Kaskaskia</a>
																<a href="index.html?basin=Kaskaskia Nav&office=MVS&type=loading&lookback=30&cwms_ts_id=Nav TW-Kaskaskia.Elev.Inst.~1Day.0.datman-rev&cwms_ts_id_2=Nav TW-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_self" tabindex="0">
																	Nav TW</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
							<script>
								updateCdaLinks(office, basin, cwms_ts_id, cda);
							</script>
